/* Header */
.header {
    font-family: "Poppins", sans-serif;
    max-width: 100%;
    height: 80px;
    background: #E3F2FD;;
    color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    font-size: 1.2rem;
    font-weight: bold;
}

/* Left side logos */
.header-left img {
    height: 60px;
    margin-right: 50px;
    margin-left: 50px;
    align-self: center;
    margin-top: 2px;
}

/* Navigation */
.header-right ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-left: -20px;
    
}

.header-right ul li {
    display: inline;
}

.header-right ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}

.header-right ul li a:hover {
    color: #ff6600;
}

/* Active link */
.header-right ul li a.active {
    color: #ff6600;
}